---
title: About
layout: default
tags: ['about','gwen bell']
pageOrder: 1
---


.container.container-main

	.row
		.span4.muted
			h1 Done
			p.lead What I've done with my life

			ul
				li Started kindergarten in Germany
				li Moved a dozen times before high school
				li Spent the last night of my mom's life with her
				li Moved to Japan 12 weeks after graduating from college
				li Taught hundreds of students how to do yoga
				li Started first business in Japan
				li Took an all-expenses paid cruise to the Caribbean. It went as well as 
					a(href='http://harpers.org/wp-content/uploads/2008/09/HarpersMagazine-1996-01-0007859.pdf') DFW's
					| .
				li Owned a hedgehog 
				li Lived in a startup house in Singapore
				li Lived in more than a dozen Airbnb houses in America and abroad (2011-2012)
				

		.span4
			h1 Doing
			p.lead What I'm doing right now

			ul
				li Pushing code every day
				li Watching the Bitcoin price
				li Reading a book every two days
				li Daily yoga
				li Tweaking this site


			p.lead What I can do for you

			ul
				li Teach you Git
				li Get you up and running as a coder
				li Teach you Node.js basics
				li Teach you Express and Jade
				li Bootstrap your site
				li Help you get Bitcoin 
				li Show you the way to Hyperboria
				

		.span4.muted
			h1 To Do
			p.lead What I want to do soon

			ul
				li Move to NYC
				li Spend my waking hours with dev types
				li Learn the secrets of PDT at night
				li Live in a 
					a(href='http://www.nypost.com/r/nypost/2012/07/10/news/web_photos/KL_bloomberg_304050510--525x300.JPG') micro apartment 
					| in NYC
				li Eat Kaiten Zushi, specifically blowtorched Salmon Mayo
				li Find a Japanese conversation partner
				li Study with TNH again
				li Live in Japan again
				li Help a startup exit or biggify
				li Build the Gwendolyn Round House
				li Drive a Vespa!!
				li Secret things I don't publish about.
				li I'm open to ideas! Get in touch if you have one.