---
title: About
layout: page
pageOrder: 1
---
 
p Self-employed since 2005, I am a full-time web developer and technical writer. I live in Brooklyn, NYC and the several thousand who support my work are scattered across the world.
 
p Personal Bio: I started my first business - a yoga studio - in Japan in 2005, after teaching in a Japanese elementary school in Gunma-ken, Kiryu-shi for a year. 
 
p Favorite Things: <a href="http://www.hbo.com/six-feet-under">Six Feet Under</a>, the <a href="https://new.myspace.com/gwenbell">New Myspace</a>, <a href="http://brooklyn-spaces.com/2011/09/the-schoolhouse/">The Schoolhouse</a> in Brooklyn, Perfect Shots of Espresso and Tiny Cacti
 
p (Yes. The bathtub is in working condition. I bathe in it daily.)
 p 
   em Brooklyn, New York
   | March 2013
