---
title: About
layout: default
tags: ['about','gwenbell', 'gwen bell']
pageOrder: 1
---

.container-main
	.row
		.span4.muted
			h1 Done
			p.lead What I've done so far

			ul
				li Graduated from UNC-Chapel Hill
					| including a year abroad at UEA, Norwich
				li Opened a yoga studio in Japan
				li Got out the word for 
					a(href='http://www.advocacyamplified.com/wp-content/supercalifragilisticexpialidocius/2011/01/Gwen-Bell1.jpg') Nintendo
				li Lost design studio/house in fire, once
				li Traveled the entire globe, twice
				li Lived in Japan, Mexico, Germany, England 
				li Married a programmer, divorced a programmer, became a programmer
		.span4
			h1 Doing
			p.lead What I'm working on right now

			ul
				li Jamming to beats on the new 
					a(href='http://new.myspace.com/gwenbell') Myspace
				li Building this site with 
					a(href="http://nodejs.org") Node.js
				li Committing to 
					a(href='https://github.com/gwenbell/') Github
				li Watching 
					a(href='http://preev.com') Bitcoin
				li
					a(href='/pages/writing') Writing
				li Playing in 
					a(href='http://hyperboria.net/') Hyperboria
				li Unpacking my one bag in Brooklyn, New York
				li Practicing yoga daily
				
			p.lead I can help you
				ul
					li Up your web dev game
					li Understand Git, Bitcoin, crypto basics
					li Become a programmer


		.span4.muted
			h1 To Do
			p.lead What's next

			ul
				li Visit Iceland, Israel and India in 2013-14
				li Speak about Git, Bitcoin and the Real-time Web
				li Earn and spend only Bitcoin
				li Program a PMD
				li Work with a team of fellow programmers
				li Meet Mike Hearn AFK
				li Age with grace
				li Die with ease

