---
title: About
layout: page
tags: ['about','gwen bell']
pageOrder: 1
---

p I wrote to a fellow writer today. Now, after listening to Ghosting about four hundred times, I am ready to share with you.

p All of it, all of my life, has been a series of biting off more than I can chew - moving to Japan fresh out of university without knowing the language, opening a business there when it's a man's world, starting up in the digital space and leaving Japan to meet people AFK. Starting and stopping projects people love, loved and sometimes loathed. I guess it started with mom dying, and knowing you don't get any do-overs; you do what you can with what you have in the moment you're in.

p You will see more of that biting off more than I can chew in this piece, this piece that's becoming an about page. It's what I do, and now, after two years traveling the globe living out of one bag, now that I'm in New York City where it began to begin, I'm ready for the telling of it. 

p Life is a daring adventure or fuck all.

p 
	em Brooklyn, New York
	br
	em March, 2013

img(src="/bedroom-bathtub.jpg", class="img-polaroid")