---
title: About
layout: default
tags: ['about','gwen bell']
pageOrder: 1
---


.container.container-main

	.row
		.span4.muted
			h1 Done

			ul
				li Got out the word for Nintendo
				li Owned a yoga studio in Japan
				li Co-creator of Startup Weekend
				li Fired from TechStars
				li Ran a profitable design firm until it burned to the ground
				li Chloë Sevigny told me to run for the hills, so I did
				li Married a programmer, divorced a programmer, became a programmer
				

		.span4
			h1 Doing Now

			ul
				li Push 
					a(href='http://www.github.com/gwenbell') code 
					| every day
				li Watch
					a(href='http://www.preev.com')
						the Bitcoin price
				li Read a book every two days
				li Do daily yoga
				li Tweak this site
				

		.span4.muted
			h1 To Do Next

			ul
				li Move to NYC
				li Spend all my waking hours with dev types
				li Live in a 
					a(href='http://www.nypost.com/r/nypost/2012/07/10/news/web_photos/KL_bloomberg_304050510--525x300.JPG') micro apartment 
					| in NYC
				li Eat kaitenzushi again!
				li Nihongo o benkyoshimasu!
				li Help a startup exit or biggify
				li Build the Gwendolyn Round House
				li Drive a Vespa!!
				li Secret other things.

	.row
		.span12
			img(src='/mist.jpg', class='img-polaroid')