---
title: About
layout: default
tags: ['about','gwenbell', 'gwen bell']
pageOrder: 1
---

.container-main
	.row
		.span4.muted
			h1 Done
			p.lead What I've done so far

			ul
				li Graduated from UNC-Chapel Hill
					| including a year abroad at UEA, Norwich
				li Opened a yoga studio in Japan
				li Got out the word for 
					a(href='http://www.advocacyamplified.com/wp-content/supercalifragilisticexpialidocius/2011/01/Gwen-Bell1.jpg') Nintendo
				li Lost design studio/house in fire, once
				li Traveled the entire globe, twice
				li In 2012, Lived in Japan, Singapore, Mexico, Germany 
				li Married a programmer, divorced a programmer, became a programmer

			p.lead Ancient History
				ul
					li Lived in Seattle (2011), in the apt above Allen Stone (who is now mega famous)
					li Shared shelf space with Oprah (2010) - I was on the cover of a magazine		
					li Invited to, and attended, O'Reilly's Foo Camp 2009, and Summit Series DC, 2010
					li Featured by Forbes, Fast Company, others (spans multiple years)
					li Spoken at dozens of events, including an ice cream convention!
		.span4
			h1 Doing
			p.lead What I'm working on right now

			ul
					li Jamming to beats on the new 
						a(href='http://new.myspace.com/gwenbell') Myspace
					li Building this site with 
						a(href="http://nodejs.org") Node.js
					li Committing to 
						a(href='https://github.com/gwenbell/') Github
					li Watching 
						a(href='http://preev.com') Bitcoin
					li
						a(href='https://tinyletter.com/gwenbell') Writing letters
					li Playing in 
						a(href='http://hyperboria.net/') Hyperboria
					li Learning Mocha (thank you, TJ!)
					li Working on this site daily
					li Unpacking my one bag in Brooklyn, New York
					li Practicing yoga daily

				
			p.lead I can help you
				ul
					li Up your web dev game
					li Understand Git, Bitcoin, crypto basics
					li Become a programmer
					li Get your first few Bitcoins
					li Get a handle on NYC, if you visit just send a message
					li Learn yoga
					li Learn Japanese


		.span4.muted
			h1 To Do
			p.lead What's next

			ul
				li Publish Git for Publishers
				li Launch a Bitstarter campaign (probably for the clothing line)
				li Publish on Bitcoin
				li Visit Iceland, Israel and India in 2013-14
				li Speak about Git, Bitcoin and the Real-time Web
				li Earn and spend only Bitcoin
				li Program a PMD (personal mesh device)
				li Design and launch the clothing line (it is a very short line - just one piece) for One Black Dress
				li Work with a team of fellow programmers
				li Meet Mike Hearn, Bitcoin Master, AFK
				li Teach Node to n00bs
				li Teach Japanese kids again
				li Build the Gwendolyn Round House (location TBD)
				li Support my grandparents in their twilight moments
				li Visit another planet
				li Age with grace
				li Die with ease

