---
title: About
layout: default
tags: ['about','gwen bell']
pageOrder: 1
---


.container.container-main

	.row
		.span4.muted
			h1 Done
			p.lead What I've done with my life

			ul
				li Started kindergarten in Germany
				li Moved a dozen times before high school
				li Spent the last night of my mom's life with her
				li Moved to Japan 12 weeks after graduating from college
				li Taught hundreds of Japanese schoolkids how to speak English
				li Taught hundreds of students how to do yoga
				li Started first business in Japan
				li Took an all-expenses paid cruise to the Caribbean and hated it
				li Owned a hedgehog 
				li Drank a year's worth of tea in England
				li Lived in a startup house in Singapore
				li Traveled in Bali, Mexico, all over Asia, all over Europe
				li Lived in more than a dozen Airbnb houses in America and abroad (2011-2012)
				li Years of brand ambassadorship for Nintendo
				li Commercial shoot for HP
				li Lived out of one bag for years, a practice in self-reliance
				

		.span4
			h1 Doing
			p.lead What I'm doing right now

			ul
				li Hustlin'
				li Crafting and launching deployables
				li Living out of one bag
				li Pushing code every day
				li Watching the Bitcoin price
				li Reading a book every two days
				li Working out daily
				li Listening to Hiphop and R&B
				li Ramping up with new clients
				

			p.lead What I can do for you

			ul
				li Teach you Git
				li Get you up and running as a coder
				li Teach you Node.js basics
				li Teach you Express and Jade
				li Bootstrap your site
				li Help you get Bitcoin 
				

		.span4.muted
			h1 To Do
			p.lead What I want to do soon

			ul
				li Be a progtender
				li Live in a 
					a(href='http://www.nypost.com/r/nypost/2012/07/10/news/web_photos/KL_bloomberg_304050510--525x300.JPG') micro apartment 
					| in NYC
				li Eat Kaiten Zushi, specifically blowtorched Salmon Mayo
				li Secret things I don't publish about.
				li I'm open to ideas. What am I missing?

				
				
