---
title: About
layout: default
tags: ['about','gwen bell']
pageOrder: 1
---


.container.container-main

	.row
		.span4.muted
			h1 Done
			p.lead What I've done with my life.

			ul
				li Started kindergarten in Germany
				li Moved a dozen times before high school
				li Moved to Japan 12 weeks after graduating from college
				li Started first business in Japan
				li Took an all-expenses paid cruise to the Caribbean and hated it [see](http://harpers.org/wp-content/uploads/2008/09/HarpersMagazine-1996-01-0007859.pdf)
				li Owned a hedgehog 
				li Lived in England, Japan, Morocco, Mexico, Singapore, Bali, Germany, and Spain
				li Taught hundreds of Japanese schoolkids how to speak English
				li Taught hundreds of students how to do yoga
				li Taught hundreds of people how to rock the social web
				li Been a fully fledged world traveling writer
				

		.span4
			h1 Doing
			p.lead What I'm working on right now.

			ul
				li Live out of one bag
				li Push code every day
				li Watch the Bitcoin price go up
				li Play a lot of music on the new Myspace
				li Read a book every two days
				li Yoga and chair pushups daily
				li Listen to Hiphop and R&B
				

			p.lead What I can do for you.

			ul
				li Teach you Git
				li Teach you Node.js basics
				li Teach you Express, Jade
				li Bootstrap your site
				li Teach you Bitcoin
				li Teach you how to pack down to one bag
				

		.span4.muted
			h1 To Do
			p.lead What I want to do soon.

			ul
				li Live in a city again
				li Be a bartender 
				li Be a programmer
				li Be a progtender
				li Earn spend and save in Bitcoin
				li Live in a micro apartment
				li Eat Kaiten Zushi, specifically blowtorched Salmon Mayo

				
				
