---
title: Video
layout: default
tags: ['video', 'how-to', 'web', 'dev']
pageOrder: 5
---

.container.container-main

	.row
		.span8.offset2
			h1 Video

			<video controls preload="auto" class="video-js vjs-mg-skin" width=100%>
			<source src="/docpad-demo.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;" /></video>