---
title: Writing
layout: default
pageOrder: 3
---

html.

.container-main
	.row
		<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/gwenbell" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address for new writing</label></p><p><input type="text" style="width:300px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p></p></form>
