@font-face {
	font-family: 'Open Sans';
	src: url(/vendor/twitter-bootstrap/font/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Ubuntu';
  src: url(/vendor/twitter-bootstrap/font/Ubuntu-Light.ttf);
}

body
  background-image url("/bg.png")
  padding-bottom 40px

h1, h2, h3, h4 {
  color: #F95951;
	font-family: 'Open Sans';
  text-transform: uppercase;
}

p, li 
	font-family 'Open Sans'

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  padding-bottom 30px

.row-fluid > .span-fixed-sidebar
  margin-left 290px

a, a:link 
  color: #00AA9E

a:hover
  color: #000

.stream p:first-child
  font-size 2em

.img-circle
  border 3px solid #fff
  border-radius 50%

.centered
  margin-bottom 3em
  padding-top 5em
  text-align center

