@font-face {
	font-family: 'Open Sans';
	src: url(/vendor/twitter-bootstrap/font/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Calluna';
  src: url(/vendor/twitter-bootstrap/font/Calluna-Regular.otf);
}

body
  background-image url("/light_wool.png")
  padding-bottom 40px

h1, h2, h3, h4 {
  color: #DEDEDE;
	font-family: 'Open Sans', Verdana;
  text-transform: uppercase;
}

p, li 
	font-family 'Calluna', 'Open Sans', Garamond

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  padding-bottom 30px

.row-fluid > .span-fixed-sidebar
  margin-left 290px

a, a:link 
  color: #C41E3A

a:hover
  color: #000

.stream p:first-child
  font-size 2em

.img-circle
  border 3px solid #f9f9f9
  border-radius 50%

.centered
  margin-bottom 3em
  padding-top 5em
  text-align center

