---
layout: 'default'
title: '404 Not Found'
dynamic: true
---

.hero-unit
  h1 404 Not Found
  p
    | Hey there. It looks like <code>#{req.url}</code> couldn't be found. 
    | If you'd like to let me know you've been 404'd please submit a pull request, or email me.
