!!! 5
html
    head
        meta(charset'utf-8')
        title= getPreparedTitle()
        link(rel='shortcut icon', href='/ico/favicon.ico')
        link(rel='stylesheet', href='/vendor/prettify.css')
        link(rel='stylesheet', href='/vendor/twitter-bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/vendor/twitter-bootstrap/css/bootstrap-responsive.css')
        link(rel='stylesheet', href='/vendor/twitter-bootstrap/css/font-awesome.min.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
        link(rel='stylesheet', href='/styles/style.css')

    body

        include navbar.jade

        .container.main
            section#content.content!= content

        
        script(type='text/javascript', src='vendor/prettify.js')
        script(type='text/javascript', src='http://code.jquery.com/jquery.js')
        script(type='text/javascript', src='/vendor/twitter-bootstrap/js/bootstrap.js')
        script(type='text/javascript', src='/scripts/script.js')


