---
layout: default
---


.container.container-main
	.row
		.span8

			article#post.post
			
				h1= document.title
				p.date= document.date
				.post-content!= content

		.span4
          include sidebar.html.jade