
img(src='/gb-nyc.jpg', class='img-polaroid', style='margin-bottom: 1em')

p.lead I'm Gwen. I write, hack and 
	| share the streets with the spirit of
	| Biggie Smalls in
	| Brooklyn, NYC. Fond of: bacon fat and donuts.
	| Current beat: Git for Publishers. 
	| Available 15 Apr 2013.

p.lead.muted I host this site on a VPS, and commit to 
	a(href='http://github.com/gwenbell') GitHub.  
	| Unless you're my grandmother, Nunu, I don't do small talk; instead,
	| please fork me and submit pull requests.

<form action="https://tinyletter.com/gwenbell" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p></p><p><input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter your email address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" class="btn" /><p></form>