
img(src='/gb.jpg', class='img-polaroid', style='margin-bottom: 1em')

p.lead Hi, I'm Gwen. Brooklyn, NYC-based   
	a(href='https://github.com/gwenbell') developer
	|, bitcoin enthusiast + technomemoirist.

<a class="coinbase-button" data-code="e284433f66f1c5204bb0642cb11a555a" data-button-style="donation_small" href="https://coinbase.com/checkouts/e284433f66f1c5204bb0642cb11a555a">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>