
img(src='/gwenbell-face.jpg', class='img-polaroid', style='margin-bottom: 1em')

p.lead Hi, I'm Gwen. Brooklyn, NYC-based   
	a(href='https://github.com/gwenbell') developer
	|, bitcoin enthusiast and technical writer.

<form action="https://tinyletter.com/gwenbell" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p></p><p><input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter your email address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" class="btn" /><p></form>

