
img(src='/gb-nyc.jpg', class='img-polaroid', style='margin-bottom: 1em')

p.lead Bed-Stuy. Code or Die.

<form action="https://tinyletter.com/gwenbell" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p></p><p><input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter your email address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" class="btn" /><p></form>

include bitcoin.html